
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ListViewPage</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../css/ratchet/ratchet.css">

<!--        <script src="../js/libs/ratchet/js/ratchet.min.js"></script>-->

    </head>
    <body>
       
      
        <header class="bar bar-nav">
            <a class="icon icon-left-nav pull-left icon-nav-font" data-direction="reverse" data-transition="slide" href="../main.html">返回</a>
            <h1 class="title">订单列表</h1>
        </header>
        
        <div class="content" data-role="content" style="padding: 0px 5px 0px 5px;">
        <div class="bar bar-footer" style="">
            <!--<a class="icon icon-compose pull-right" href="#composeModal"></a>-->
            <div style="height: 20px;
width: 70px;
margin: 20px;
float: right;
background-color: #33CCFF;">物流跟踪</div>
            <strong class="total" style="margin-left: 20px;">&yen; 800.00</strong>
            <small style="margin-left: 20px;">2014-09-17</small>
        </div>
        <div class="search-nav">
            <input type="text" placeholder="搜索订单">
        </div>
        <div  style="position: relative;top: 45px;padding-top: 2px;">

            <ul class="table-view">
                <li class="table-view-cell table-view-divider">上海伴程医药股份有限公司</li>
                <li class="table-view-cell media">

                    <div class="media-body">
                        手术刀片
                        <p><a href="./detail.html"  data-transition="slide" >单价：&yen; 30</a><a class="amount">数量：20包</a></p>
                    </div>
                </li>
                <li class="table-view-cell media">

                    <div class="media-body">
                        口罩
                        <p><a href="./detail.html"  data-transition="slide">单价：&yen; 10</a><a class="amount">数量：20包</a></p>
                    </div>
                </li>
            </ul>
        </div><!-- /.content -->
        </div>
        <script>
            var obj = document.querySelectorAll(".media");
//            for (var i=0,len = obj.length; i < len; i++) {
//                obj[i].addEventListener('touchend', function() {
//                    window.location.href = "./detail.html"
//                });
//            }
//            document.querySelector(".pull-left").addEventListener('touchend', function() {
//                window.location.href = "../main.html"
//            });
            document.addEventListener("touchmove",function(e){
                e.preventDefault();
                return false;
            },false);
        </script>
    </body>
</html>
