<!doctype html>
<html>
    <head>
        <title>Pie Chart</title>

    </head>
    <body>
        <header class="bar bar-nav" style="display: block;">
            <a class="icon icon-tab icon-srmchat pull-right"></a>
            <a class="icon icon-left-nav pull-left icon-nav-font" style="color: white" id="qwe" >返回</a>
            <h1 class="title">报表详情</h1>
        </header>


        <div id="canvas-holder" style="margin-top: 50px">
            <div style="text-align: center;
                 color: rgba(84, 84, 84, 0.45);
                 margin-bottom: 10px;">采购品类交易额占⽐比分析(前10名)</div>
            <div style="text-align: center;height: 35px;line-height: 35px;">
                <span style='height: 35px;
              
                        margin-left: auto;
                         margin-right: auto;
                         width: 100px;
                         
                      text-align: center;
                      vertical-align: middle'>2014年9月</span>
                <span style="left: 0px;
                      position: absolute;
                      background-color: darkgray;
                      border-bottom-right-radius: 10px;
                      border-top-right-radius: 10px;
                      width: 50px;
                      color: white;
                      height: 35px;
                      font-size: 10px;
                      display: inline-block">8月</span>
            </div>
            <div style="text-align: center">
                <canvas style="
                         
                         "  id="chart-area" width="300" height="300"/>
            </div>
        </div>


    </body>
</html>
