<style>
    
</style>
    <header class="bar bar-nav">
      <h1 class="title">报表分析仪盘</h1>
    </header>


<div class="content" >
<ul class="table-view" style="margin-top:0px">
            <li class="table-view-cell media">
          <a class="navigate-right" href="./view/pie.html" data-ignore="push" >
            <img class="media-object pull-left" src="./image/report1.png" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              采购品类交易占额比表分析
            </div>
          </a>
        </li>
                    <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="./image/report2.png" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              采购品类交易发展报表
            </div>
          </a>
        </li>
        
        
                            <li class="table-view-cell media">
          <a class="navigate-right" href="#" data-transition="slide-in">
            <img class="media-object pull-left" src="./image/report3.png" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              采购品类供应商份额占比分析表
            </div>
          </a>
        </li>
  
                
                            <li class="table-view-cell media">

          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="./image/report4.png" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              供应商交易额发展分析表
            </div>
          </a>
        </li>
 </ul>
    <script>
        debugger; 
        </script>
</div>